/*
   ImageMagick template.
*/
html {
  scroll-padding-top: 90px;
}

iframe {
  width: 100% !important;
  max-width: 100% !important;
  height: 400px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

a.nav-link:hover,
a.dropdown-item:hover {
  color: #ffc107 !important;
  text-shadow: 0px 2px 4px rgba(255, 193, 7, 0.8);
}

.btn-outline-warning {
  color: #cd7f32;
  border-color: #cd7f32;
}

.navbar-brand {
  color: #d4af37;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-brand:hover {
  color: #e9c03d;
  text-shadow: 0px 2px 4px rgba(203, 163, 120, 0.6);
}

:root {
  --bs-code-color: revert;
}

.table {
  table-layout: fixed;   /* force equal distribution of width */
  width: 100%;           /* table spans full container */
}

.table td, .table th {
  white-space: normal;     /* allow wrapping */
  word-break: break-word;  /* break long words/strings */
}
